# Binários
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testes
*.test
coverage.out
coverage.html

# Dependências
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
